@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">DCC Disposal LLC.</h1>
    <h3 class="display-4">Turning Trash Into Best In Class Since 2015</h3>

</div>
